body {
	background-color: #11CBF0;
	color: #666666;
	font-family: 'Architects Daughter', cursive;
}

hr {
	background-color: #FBD60F;
	height: 5px;
}

a {
	color: #11CBF0;
}

.featured-img {
	margin: auto;
}

h3 {
	font-size: xx-large;
	font-weight: bold;
}

.container {
	background-color: #ffffff;
}