body {
	background-color: #11cbf0;
	color: #666666;
	font-family: "Architects Daughter", cursive;
}

hr {
	background-color: #fbd60f;
	height: 5px;
}

a {
	color: #11cbf0;
}

.featured-img {
	margin: auto;
}

h3 {
	font-size: xx-large;
	font-weight: bold;
}

.container {
	background-color: #ffffff;
}